export default {
    mongo: {
        uri: '',
    },
    port: 4001,
    github: {
        clientID: '',
        clientSecret: '',
        callbackURL: process.env.NODE_ENV == 'production' ? 'https://volery.me/api/auth/github/callback' : 'http://localhost:3000/api/auth/github/callback',

    },
    encryptionKey: ''
}