export default {
    mongo: {
        uri: '',
        config: {
            useNewUrlParser: true,
            useUnifiedTopology: true,
            useFindAndModify: false,
        }
    },
    port: 4001
}