$font-stack: 'Roboto', sans-serif;

$primary-color: #272626;
$secondary-color: #1d1c1c;
$third-color: #121212;
$fourth-color: #111111;
$btn-primary-color: #1d1c1c;
$hover-color: #2b2828;
$border-color: #1e1e1f;

html,
body {
  padding: 0;
  top: 0;
  margin: 0;
  //font: 100% $font-stack;
  background-color: $third-color;
  height: 100%;
}

#__next {
  margin-top: -16px; // idk whats wrong with nextjs but it needs this
  height: 100%;
  top: 0;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  .spinner {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
  }
  .loadingtext {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #d8dee9;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.markdown {
  height: inherit;
}

code {
  width: auto;
  height: auto;
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console,
    Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
  background: #2f3136;
}

.onhover::-webkit-scrollbar {
  visibility: visible !important;
}

.hidescrollbar::-webkit-scrollbar {
  visibility: hidden;
}

.modal {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}