.hljs-keyword {
  color: #c792ea;
}
.hljs-literal {
  color: #f78c6c;
}

.hljs-title {
  color: #82aaff;
}

.hljs-built_in {
  color: #82aaff;
}

.hljs-params {
  color: #ff5370;
}

.hljs-string {
  color: #c3e88d;
}

.hljs-number {
  color: #f78c6c;
}

.hljs-type {
  color: #c792ea;
}

.class_ {
  color: #ffcb6b;
}
