@use 'globals';

.messages {
  background-color: globals.$third-color;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  margin-left: 322px;
  margin-top: 63px;
  height: calc(100% - 120px);
  width: calc(100% - 322px - 240px);
  padding-bottom: 20px;

  li {
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

@media screen and (max-width: 1000px) {
  .messages {
    width: calc(100% - 322px);
  }
}

.message {
  margin-top: 0;
  min-height: 2.75rem;
  padding-left: 72px;
  //padding-top: 0.225rem;
  padding-bottom: 0.225rem;
  padding-right: 48px !important;
  position: relative;
  word-wrap: break-word;
  user-select: text;
  flex: 0 0 auto;
  &:not(.inline):hover {
    background-color: globals.$third-color;
  }
  .contents {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    height: inherit;
    .avatar {
      text-indent: -9999px;
      pointer-events: auto;
      position: absolute;
      left: 16px;
      margin-top: calc(10px - 0.125rem);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      flex: 0 0 auto;
      z-index: 1;
    }
    .header {
      overflow: hidden;
      display: block;
      position: relative;
      line-height: 1.375rem;
      min-height: 1.375rem;
      color: #72767d;
      white-space: break-spaces;
      .headerText {
        margin-right: 0.25rem;
        .displayName {
          color: #fff;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.375rem;
          display: inline;
          vertical-align: baseline;
          position: relative;
          overflow: hidden;
          flex-shrink: 0;
        }
      }
      .additionalHeaderText {
        line-height: 1.375rem;
        font-size: 0.75rem;
        vertical-align: baseline;
        margin-left: 0;
        display: inline-block;
        height: 1.25rem;
        pointer-events: none;
        font-weight: 500;
      }
    }
    .content {
      user-select: text;
      margin-left: -72px;
      padding-left: 72px;
      overflow: hidden;
      position: relative;
      text-indent: 0;
      font-size: 1rem;
      line-height: 1.375rem;
      white-space: break-spaces;
      word-wrap: break-word;
      color: #dcddde;
      font-weight: 400;
      margin-top: -20px;
      height: inherit;
      .markdown {
        height: inherit;
        p {
          margin-top: 1px;
          margin-bottom: -21px;
        }
        pre {
          margin-top: 1px;
          margin-bottom: -21px;
          margin-left: 4px;
          max-width: 90%;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 0;
          font-family: Consolas, sans-serif;
          font-size: .75rem;
          line-height: 1rem;
          margin-top: 6px;
          white-space: pre-wrap;
          background-clip: border-box;
          code {
            font-size: 0.875rem;
            line-height: 1.125rem;
            text-indent: 0;
            white-space: pre-wrap;
            border: 1px solid #202225;
            display: block;
            overflow-x: auto;
            padding: .5em;
            border-radius: 4px;
            text-size-adjust: none;
          }
        }
      }
    }
  }
}

.message.inline {
  min-height: 0.3rem;
  margin-top: 1.0625rem;
  padding-top: 0.225rem;
  .content {
    &:hover {
      background-color: globals.$third-color;
     // width: 100%;
    }
  }
}
