@use "globals";

.serverbar {
  margin-top: 16px;
  width: 72px;
  height: 100%;
  background-color: globals.$primary-color;
  border-right: 1px solid globals.$border-color;
}

.servermap {
  overflow: hidden scroll; 
  padding-right: 0px;
  padding-top: 12px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.community-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin: 0 0 8px;
  &:hover {
    .community-flag {
      height: 30px;
      transition: 300ms height ease;
    }
  }
  .community-flag {
    &.selected {
      height: 40px;
    }
    height: 0px;
    width: 4px;
    position: absolute;
    margin-left: -60px;
    background-color: #dedede;
    transition: 300ms height ease;
  }

  .community {
    align-self: center;
    border-radius: 50%;
    margin: 0 10px 7px 10px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: globals.$btn-primary-color;
    cursor: pointer;
    user-select: none;
    transition: 300ms border-radius ease;
    &:hover {
      border-radius: 10px;
      transition: 300ms border-radius ease;
    }
    &:active {
      transform: translateY(2px);
      transition: 100ms transform ease-in-out;
    }
    .community-noicon-text {
      color: #dedede !important;
      height: 24px;
    }
  }
}
