@use "globals";

.topbar {
  position: absolute;
  top: 0;
  margin-left: 322px;
  background-color: globals.$third-color;
  width: calc(100% - 322px - 240px);
  padding: 0 20px;
  height: 63px;
  border-bottom: 1px solid globals.$border-color;
}
